/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---Icons---*/

.fa {
	margin: 100px 460px 20px 460px;
	
}

/*---Media query ---*/

/*About page*/

.about {
	height: 150px;
	width: 150px;
	border-radius: 75px;
	margin: 40px 400px;
	/*box-shadow:0 0 5px #1da1f2;*/
	border: solid 2px #1da1f2;
	
	
}
.aboutme p {
	width: 500px;
	margin: 30px auto;
	font-size: 18px;
	
}

#childhood {
	width: 650px;
	height: 450px;
	margin-top: 0;
	margin-left: 150px;
	
}
/*---Contact page---*/

h1 {
	font-size: 20px;
}

input {
   border: none;
   box-shadow: inset 2px 2px 3px #d3d3d3;
   font: 18px Arial,sans-serif;
   display: inline-block;
 }



#fb {
	background-color: #3B5998;
	display: inline-block;
	width: 150px;
	height: 35px;
	margin: 80px;
	box-shadow: none;
	color: #fff;
	border: 1px solid #c4c4c4;
	font: small-caps 18px Arial;	
	text-align: center;
	padding-top: 10px;
}

#vk {
	background-color: #527397;
	display: inline-block;
	width: 150px;
	height: 35px;
	margin:80px;
	box-shadow: none;
	color: #fff;
	border: 1px solid #c4c4c4;
	font: small-caps 18px Arial;	
	text-align: center;
	padding-top: 10px;
}

#tw {
	background-color: #1da1f2;
	display: inline-block;
	width: 150px;
	height: 35px;
	margin: 80px;
	box-shadow: none;
	color: #fff;
	border: 1px solid #c4c4c4;
	font: small-caps 18px Arial;	
	text-align: center;
	padding-top: 10px;
}

#email {
	width: 440px;
	margin-left: 51px;	
	padding: 10px  5px;
	float: right;
}

#text {
	width:440px;	
	padding: 10px  5px;	
	float: left;
}

textarea {
	width: 953px;
	margin:35px 0;
	height: 220px;
	padding: 0 0 0 5px;
	border: none;
    box-shadow: inset 2px 2px 3px #d3d3d3;
    font: 18px Arial, sans-serif;
}

.btn {
	width: 150px;
	height: 42px;
	margin-left: 400px;
	box-shadow: none;
	color: #acacac;
	border: 1px solid #c4c4c4;
	font: 18px Arial;
	background-color: #c8dd99;
	color: #fff;
	text-shadow:  #fff 0 0 2px;
}

.btn:active {
	transform: scale(0.9);
	
}


article>a:hover {
	text-shadow:  #fff 0 0 2px;
	color: #fff;
}

.btn:hover {
	box-shadow:0 0 5px #c8dd99;
}

a:hover {
	transform: scale(1.1);
}

.reg {
	margin-top: 40px;
}
/*---Index page---*/	



body{
	background-color: #e8e8e8;	
	max-width: 1903px;	
	background-repeat: no-repeat;	
	
	
}

.main-container {
	margin: auto;
	max-width: 960px;
	}

nav li {
		margin-left: 44px;
}

ul  li {
	list-style: none;
	display:inline-block;
	font:  16px Arial;
	text-shadow: 0 1px 1px #555;
	
}

/*-----Tipographic-----*/

@font-face {
	font-family: Pacifico;
	src: url(../fonts/Pacifico.ttf);
	font-family: ChunkFive;
	src: url(../fonts/ChunkFive.otf);
	
}

.logo {
	font: normal normal  48px ChunkFive, Arial, sans-serif;
	color: #9b9b9a;
	padding: 10px;	
	margin-left: 55px;
	float: left;
	text-shadow: -4px  2px 2px  #000,  2px 2px 3px #555 ;
	border-radius: 50px;
	background-image: linear-gradient(to top, #e8e8e8, #bdbdbd);
	margin-top: 30px;
	
	
}	

a	{
	text-decoration: none;	
	color: #7e7e7e;
}

.site-menu {
	padding-top: 90px;
	padding-right: 30px;
	float: right;
}

/*---Content---*/


.info{	
	height:500px;
	margin:70px 30px 70px 55px;
	font: bold 18px Arial,sans-serif;
	color: #000;
	float: left;
	max-width: 385px;
}

figure {
	width: 385px;
	height: 250px;
	box-shadow: -7px 1px 5px #000;
	margin: 0 0 40px;
}


.text-info{
	font: 14px Arial;
	color:#555;	
	margin-top: 15px;
	height:200px;
	max-width: 385px;	
	text-align: center;	
	background-image: url(../images/background.png);
	max-height: 400px;
	overflow: hidden;
}

p{
	padding-top: 0;
}

.reg {
	font-size: 20px;
	text-align: center;
	
}


article p::first-letter {
	font-size: 2em;
	color: red;
}

a:hover{
	color: #917751;
}

section a>img:hover {
	transform: scale(1.1);
}

.info a>img {
	margin: 15px  150px;
}

.site-menu ul li:hover {
	transform: scale(1.1)
}

article img{
	width: 94px;
	height: 18px;
	margin:20px 150px 20px 140px;
}

.social {
	position: relative;
	margin: 70px auto 30px;
	text-align:center;
	font: 20px Pacifico, Arial, sans-serif;
	color: #7e7e7e;
	word-spacing: 50px;
}

.social a:hover{
	color: #3eb5f1;
}

#logo{
	display:block;
	margin: 60px auto 0;
}

#up{
	display: inline-block;
	margin: 10px 470px 0;
}

/*Footer*/

footer {
	margin: 40px auto 40px;	
	color: #9b9b9a;
	clear: both;
	width: 100%;
}

footer p{
	font: 16px Arial, sans-serif;
	text-align:center;
}

.divider{
	width: 960px;
	margin: 0 auto;
}

.prewiew:hover {
	transform: scale(1.2);
}

/*---Works page---*/

.blog-prewiew {
	width: 880px;
	height: 500px;
	margin-top: 40px;
	margin-left: 40px;
	
}

.blog-text {
	width: 960px;	
	margin: 0;
	text-align: left;	
	font-family: "Arial", sans-serif;
	font-size: 16px;
	text-indent: 20px;
	
	
	
	
}

h1 {
	font: normal small-caps bold 36px "Modern No. 20", serif;
	text-align: center;
	padding: 10px;
	color: #737373;
	
}

h2 {
	font:normal small-caps bold 30px "Modern No. 20", serif;
	text-align: center;	
	color: #737373;
	margin-top: 40px;
}

h3 {
	font:normal small-caps bold 20px "Modern No. 20", serif;
	text-align: center;
	color: #737373;
}

h4 {
	font:normal  normal 16px "Arial", sans-serif;
	text-align: center;
	color: #737373;
	margin-top: 5px;
	
}

.blog-logo {
	width: 170px;
	height: 55px;
	border: solid 1px red;
	margin: 40px  auto;
	
}


.works {
	list-style: circle;
	font-size: 24px;
	margin: 100px;
}

/*---Clearfix--*/

.group:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.group { display: inline-block; }
/* start commented backslash hack \*/
* html .group { height: 1%; }
.group { display: block; }
/* close commented backslash hack */